    html{
        font-size: 16px;
    }

    .NavBar{
        background-color: green;
    }
 

    .LogoImage{
        width: 10em;
        height: 10em;
    }

    .EsloganImg{
        height: 10px;
        width: 200px;
    }
